<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>My Profile</title>
</head>

<body>
	<div sec:authorize="hasAuthority('ROLE_ADMIN')">
		<div th:replace="~{fragments/nav :: admin-nav}"></div>
	</div>
	<h1>My Profile</h1>
	<p>Username: <span sec:authentication="name">User</span></p>
	<p>Roles: <span sec:authentication="principal.authorities">Roles</span></p>

	<hr />
	<p sec:authorize="!hasAuthority('ROLE_ADMIN')"><a href="/">Back to Dashboard</a></p>
</body>

</html>