server:
  port: 8081                   # 服务端口：Client App 运行在 8081
  servlet:
    session:
      cookie:
        name: CLIENT_SESSIONID # 【关键】自定义 Cookie 名称，防止与 Auth Server (8080) 的 JSESSIONID 冲突导致的登录死循环

logging:
  level:
    org.springframework.security: DEBUG # 开启安全调试日志，方便排查登录跳转问题 (生产环境建议改为 INFO)

spring:
  application:
    name: client-usermanage           # 应用名称
  security:
    oauth2:
      client:
        registration:
          oidc-client:        # 【注册ID】内部标识，可自定义，如下面的 url 模板中会用到
            provider: auth-server       # 引用下方定义的 provider 名称
            client-id: client-usermanage       # 【关键】Client ID，必须与 Auth Server 数据库/配置中一致
            client-secret: secret       # 【关键】Client Secret，必须与 Auth Server 中的一致
            authorization-grant-type: authorization_code # 授权码模式：最标准的 OIDC 登录流程
            redirect-uri: "http://127.0.0.1:8081/login/oauth2/code/{registrationId}" # 回调地址，接受 Code
            scope:                      # 申请的权限范围
              - openid                  # 必须：表示进行 OIDC 身份认证
              - profile                 # 选填：获取用户基本信息 (对应 Auth Server 的 scope 配置)
        provider:
          auth-server:
            issuer-uri: ${app.auth-server-url} # 【核心】引用下方定义的统一地址

app:
  auth-server-url: http://127.0.0.1:8080
  base-url: http://127.0.0.1:8081

